asgiref==3.7.2
Django~=5.0.4
sqlparse==0.5.0
python-decouple==3.8
django-taggit==5.0.1
Markdown<3.6  # martor depends on Markdown version less than 3.6.
psycopg==3.1.18
djangorestframework==3.15.2
djangorestframework-camel-case==1.4.2
django-filter==24.3
django-cors-headers==4.6.0
pillow==11.0.0
martor==1.6.45
coverage==7.6.9